.tc-main .mp {
  font-size: 22px;
  display: flex;
  flex-direction: column;
}

.tc-main .mp header {
  font-size: 24px;
  text-align: center;
  background-color: #095e36;
  padding: 10px 0;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.tc-main .mp header:hover {
  background: linear-gradient(to right, red, blue);
}

.mp .mpl {
  /* border: 2px solid royalblue; */
  margin-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.mp .mpl .singleproject {
  /* border: 1px solid seagreen; */
  position: relative;
}
.mp .mpl .singleproject a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 3px 10px;
  /* color: #fff; */
}

.mp .mpl .singleproject .pd a {
  color: #fff;
}

.mp .mpl .singleproject a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(26, 145, 218);
}

.mp .mpl .singleproject .pd {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 5;
}

.mp .mpl .singleproject:hover .pd {
  display: block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
}

.pd .pdurl {
  display: flex;
  align-items: center;
}

.mp .mpl .singleproject:hover {
}
