.wh-detail-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  /* background-color: rgb(133, 133, 134); */
}

.wh-detail-wrapper li {
  list-style-type: none;
}

.wh-detail-wrapper .wh-company-card {
  margin: 10px 0 20px 0;
  background-color: #fff;
  box-shadow: 0 0 15px 0 #f0f2f5;
  line-height: 32px;
  border: 1px solid rgba(40, 41, 42, 0.3);
  border-radius: 10px;
}

.wh-company-card .wh-comany-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 2px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.wh-company-card .wh-work-detail {
  padding: 2px 3px;
  display: flex;
  flex-direction: column;
}

.wh-company-card .wh-work-detail .project-name {
  /* background-color: rgba(0, 0, 0, 0.3); */
  margin-top: 10px;
  box-shadow: 0 10px 0 0 rgb(240, 242, 245, 0.9);
}
.wh-company-card .wh-work-detail .project-name span {
  padding: 2px 5px;
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* background-color: rgba(29, 161, 242); */
  /* color: #fff; */
  letter-spacing: 1px;
  font-weight: bold;
}

.wh-company-card .wh-work-detail .project-name ul {
  padding-left: 6px;
}
